@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(77, 27, 214) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

body {
    background-color: #424B54;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

header img {
    width: 200px;
    height: 200px;
    clip-path: circle();
    margin: 10px 10px 10px 10px;
    align-self: flex-start;
}

header h1 {
    font-size: 32px;
    margin: auto auto auto auto;
    color: #CEDADA;
}

.text-anim {
    color: #F0C808;
}

header span::before {
    content: "C";
    animation: text_anim infinite linear 10s;
}

@keyframes text_anim {
    0% {
        content: "C";
    }
    20% {
        content: "C++";
    }
    40% {
        content: "Python";
    }
    60% {
        content: "Unity";
    }
    80% {
        content: "Lua";
    }
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.portfolio__project {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 10px 10px 10px 10px;
    height: 48%;
    width:  48%;
    border-radius: 25px;
    overflow: hidden;
}

.portfolio__project__image {
    height: 40%;
    width: 100%;
    max-width: 100%;
    max-height: 340px;
}

.portfolio__project__description {
    position: absolute;
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 30%;
    opacity: 0;
}

.portfolio__project:hover .portfolio__project__description {
    height: 240px;
    opacity: 1;
}

.portfolio__project:hover .portfolio__project__description h2{
    opacity: 1;
}

.portfolio__project:hover .portfolio__project__image {
    opacity: 0.25;
}

.portfolio__project__description h2{
    color: #F0C808;
    opacity: 0;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.portfolio__project__description p {
    color: #CEDADA;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #CEDADA;
}

footer a {
    width: 10%;
}

footer a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    clip-path: circle();
    border: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media screen and (min-width: 770px) and (max-width: 1000px) {
    .portfolio__project {
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        width:  80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }

    header h1 {
        text-align: center;
        font-size: 25px;
    }

    .portfolio__project {
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        width:  80%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    footer a {
        width: auto;
    }

    footer a img {
        width: 50%;
        height: 50%;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .portfolio__project__description {
        width: 75%;
        height: 120px;
    }

    .portfolio__project__image {
        height: 230px;
    }
}